{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Our Library</title>

    <link rel="stylesheet" href="{% static 'library_app/css/style.css' %}">
</head>

<body>

<header>
    <div class="logo">Our Library ❤️</div>
    <div class="tagline">A private space for our books</div>
</header>

<section class="hero">
    <h1>MATTHEW 18:18-20</h1>
    <p class="verse">"And so I tell all of you: what you prohibit on earth will be prohibited in heaven, and what you permit on earth will be permitted in heaven.“And I tell you more: whenever two of you on earth agree about anything you pray for, it will be done for you by my Father in heaven. For where two or three come together in my name, I am there with them.”</p>
</section>

<section class="books">

    {% for book in books %}
    <div class="card">

        <div class="cover">
            <img src="{{ book.cover_url }}" alt="{{ book.title }}">
        </div>

        <h2>{{ book.title }}</h2>

        <div class="meta">
            {{ book.author }}
            {% if book.category %}
                • {{ book.category }}
            {% endif %}
        </div>

        <div class="buttons">
            <a class="btn" href="{{ book.pdf_url }}" target="_blank">
                Read PDF
            </a>
        </div>

    </div>
    {% empty %}
    <p class="empty">No books added yet.</p>
    {% endfor %}

</section>

</body>
</html>