{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.title }} | BibliotecaFJU{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'library_app/css/detail.css' %}">
{% endblock %}

{% block content %}

<section class="detail-layout">
    <div class="detail-cover-card">
        {% if book.cover_url %}
    <img src="{{ book.cover_url }}" alt="{{ book.title }}">
    {% elif book.cover %}
    <img src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% else %}
            <div class="detail-placeholder">{{ book.title|slice:":1" }}</div>
        {% endif %}
    </div>

    <div class="detail-info section-card">
        {% if book.is_paid %}
            <span class="status paid">Livro pago</span>
        {% else %}
            <span class="status free">Livro gratuito</span>
        {% endif %}

        <h1>{{ book.title }}</h1>
        <p class="meta">{{ book.author }} • {{ book.year }}</p>

        {% if book.description %}
            <p class="description">{{ book.description }}</p>
        {% endif %}

        <a href="{% url 'book_list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</section>

<section class="reader-card">
    <div class="reader-header">
        <h2>Leitor Digital</h2>
        <p>Visualização directa do ficheiro PDF.</p>
    </div>

    {% if book.pdf_url %}
        <a class="btn" href="{{ book.pdf_url }}" target="_blank">
            Abrir Livro
        </a>

        <iframe src="{{ book.pdf_url }}"></iframe>

    {% elif book.pdf %}
        <a class="btn" href="{{ book.pdf.url }}" target="_blank">
            Abrir Livro
        </a>

        <iframe src="{{ book.pdf.url }}"></iframe>

    {% else %}
        <p>Este livro ainda não tem PDF disponível.</p>
    {% endif %}
</section>

{% endblock %}