{% extends 'base.html' %}
{% load static %}

{% block title %}Entrar | BibliotecaPro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'library_app/css/forms.css' %}">
{% endblock %}

{% block content %}

<section class="auth-page">
    <div class="auth-info">
        <h1>Bem-vindo de volta</h1>
        <p>Entra para comprar livros pagos ou aceder aos livros que já compraste.</p>
    </div>

    <div class="auth-card">
        <h2>Entrar</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn full-btn">Entrar</button>
        </form>

        <p class="auth-link">
            Ainda não tens conta?
            <a href="{% url 'register' %}">Criar conta</a>
        </p>
    </div>
</section>

{% endblock %}