{% extends 'base.html' %}
{% load static %}

{% block title %}Meus Livros | BibliotecaPro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'library_app/css/my_books.css' %}">
{% endblock %}

{% block content %}

<section class="hero">
    <h1>Meus Livros</h1>
    <p>Todos os livros que compraste ficam guardados aqui.</p>
</section>

<section class="my-books-grid">
    {% for purchase in purchases %}
        <article class="my-book-card">
            {% if purchase.book.cover %}
                <img src="{{ purchase.book.cover.url }}" alt="{{ purchase.book.title }}">
            {% else %}
                <div class="my-placeholder">{{ purchase.book.title|slice:":1" }}</div>
            {% endif %}

            <div class="my-book-info">
                <h3>{{ purchase.book.title }}</h3>
                <p>{{ purchase.book.author }}</p>
                <span>Comprado em {{ purchase.purchased_at }}</span>
                <a href="{% url 'book_detail' purchase.book.id %}" class="btn">Abrir Livro</a>
            </div>
        </article>
    {% empty %}
        <div class="section-card">
            <h2>Nenhum livro comprado</h2>
            <p>Ainda não compraste nenhum livro pago.</p>
            <a href="{% url 'book_list' %}" class="btn">Ir para Livraria</a>
        </div>
    {% endfor %}
</section>

{% endblock %}