{% extends 'base.html' %}
{% load static %}

{% block title %}Criar Conta | BibliotecaPro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'library_app/css/forms.css' %}">
{% endblock %}

{% block content %}

<section class="auth-page">
    <div class="auth-info">
        <h1>Cria a tua conta</h1>
        <p>Com uma conta, podes comprar livros pagos e guardar os teus acessos.</p>
    </div>

    <div class="auth-card">
        <h2>Registo</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn full-btn">Criar Conta</button>
        </form>

        <p class="auth-link">
            Já tens conta?
            <a href="{% url 'login' %}">Entrar</a>
        </p>
    </div>
</section>

{% endblock %}